@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  background-color: #302c42;
}

/* NAVBAR */

header {
  height: 65px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 70px 0px;
  top: 0;
  z-index: 1;
}

.nav-bar {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.nav-bar svg {
  font-size: 36px;
  display: none;
}

#toggle-menu {
  display: none;
}

.nav-left img {
  height: 100px;
  filter: drop-shadow(4px 4px 4px #000000);
  -webkit-filter: drop-shadow(4px 4px 4px #000000);
  -moz-filter: drop-shadow(4px 4px 4px #000000);
}

.nav-mid {
  display: flex;
  gap: 30px;
}

.nav-mid a {
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  transition: all 0.2s ease-in-out;
}

.nav-mid a:hover {
  transition: all 0.5s;
  background: #c0b7e8;
  background: linear-gradient(to right, #c0b7e8 0%, #8176af 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nav-right {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.nav-right a {
  color: #fff;
  font-weight: 700;
  font-size: 12px;
  text-transform: uppercase;
}

.login {
  padding: 12px 35px;
  border: 2px solid #fff;
  border-radius: 30px;
  transition: all ease 0.3s;
}

.login:hover {
  transition: all ease 0.3s;
  background: #fff;
  color: #302c42;
}

.signin {
  transition: all ease 0.3s;
  padding: 12px 35px;
  border: transparent;
  border-radius: 30px;
  background: linear-gradient(
    90deg,
    rgba(129, 118, 175, 1) 0%,
    rgba(192, 183, 232, 1) 100%
  );
}

.signin:hover {
  transition: all ease 0.3s;
  background: #302c42;
  box-shadow: inset 0 0 0 2px #8176af;
  background: #c0b7e8;
  background: linear-gradient(to right, #c0b7e8 0%, #8176af 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nav-right :nth-child(2n) {
  color: #302c42;
}

/* HERO SECTION */

#hero {
  display: flex;
  padding: 70px 40px;
  max-width: 1300px;
  margin: 0 auto;
  justify-content: space-between;
  gap: 6rem;
}

.hero-info {
  display: flex;
  width: 80%;
  flex-direction: column;
  gap: 80px;
  padding: 20px;
}

.hero-info h1 {
  font-size: 1.8rem;
  color: #fff;
  font-weight: 700;
}

.hero-info span {
  font-size: 2rem;
  background: #c0b7e8;
  background: linear-gradient(to right, #c0b7e8 0%, #8176af 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero-info p {
  font-size: 1rem;
  color: #fff;
  font-weight: 300;
}

.btn-build {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 40px;
}

.btn-build a {
  color: #302c42;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  padding: 12px 35px;
  border: transparent;
  border-radius: 30px;
  background: linear-gradient(
    90deg,
    rgba(129, 118, 175, 1) 0%,
    rgba(192, 183, 232, 1) 100%
  );
}

.btn-build svg {
  color: #c0b7e8;
  font-size: 45px;
  cursor: pointer;
}

.hero-img {
  display: flex;
  width: 80%;
}

.vector2 {
  position: absolute;
  width: 377px;
  height: 845px;
  left: 929px;
  left: 67%;
  top: 0%;
  z-index: -2;
}

.vector4 {
  position: absolute;
  width: 238.07px;
  height: 561px;
  left: 2.5px;
  top: 274px;
  z-index: -2;
}

.vr1-img {
  width: 490px;
  height: 426px;
  background-color: rgba(162.56, 162.56, 162.56, 1);
  box-shadow: 0px 0px 0px 10px rgba(0, 0, 0, 0.25);
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  border-bottom-left-radius: 240px;
  border-bottom-right-radius: 100px;
}

/* INFO CARDS */

#info-cards {
  display: flex;
  width: 100%;
  padding: 50px 10px;
  align-items: center;
  justify-content: center;
}

.info-cards-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: rgb(58, 52, 86);
  background: radial-gradient(
    circle,
    rgba(58, 52, 86, 1) 0%,
    rgba(33, 30, 46, 1) 100%
  );
  width: 90%;
  border-radius: 70px;
}

.info-card {
  padding: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.info-card svg {
  font-size: 2.5rem;
  color: #c0b7e8;
}

.info-card h2 {
  font-size: 1.5rem;
  color: #fff;
  font-weight: 700;
}

.info-card p {
  font-size: 14px;
  font-weight: 300;
  color: rgb(207, 207, 207);
}

.vertical-line {
  width: 1px;
  background-color: #c0b7e8;
  opacity: 33%;
  height: 700px;
}

.left,
.right {
  display: none;
  cursor: pointer;
}

.right {
  order: 3;
}

/* ABOUT SECTION */

#about {
  display: flex;
  padding: 40px 50px;
  align-items: center;
  justify-content: center;
  width: 95%;
  gap: 140px;
}

.about-mobile-title {
  display: none;
}

.about-img {
  display: flex;
  width: 100%;
}

.vr2-img {
  width: 50%;
  height: 50%;
  background: #a3a3a3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 45% 20%;
}

.about-text {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.about-text h1 {
  font-size: 36px;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
}

.about-text span {
  font-weight: 300;
}

.about-text p {
  font-size: calc(0.2rem + 1vw);
  font-weight: 300;
  color: rgb(207, 207, 207);
}

/* SERVICES CARDS */

#services {
  padding: 70px 10px;
  width: 100%;
  max-width: 1400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 80px;
}

#services h1 {
  text-transform: uppercase;
  font-size: 2rem;
  color: #fff;
}

.services-cards-container {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 10px;
}

.services-card {
  width: 310px;
  height: 511px;
  padding: 40px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background: rgb(67, 61, 96);
  background: radial-gradient(50% 50% at 50% 50%, #433d60 0%, #211e2e 100%);
  border-radius: 40px;
  gap: 30px;
}

.services-card img {
  border-radius: 100%;
  width: 80%;
  box-shadow: 0px 0px 0px 10px rgba(0, 0, 0, 0.25);
}

.services-card h2 {
  color: rgb(233, 233, 233);
  text-transform: uppercase;
}

.services-card p {
  color: rgb(207, 207, 207);
}

.services-card a {
  color: #302c42;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  padding: 12px 35px;
  border: transparent;
  border-radius: 30px;
  background: linear-gradient(
    90deg,
    rgba(129, 118, 175, 1) 0%,
    rgba(192, 183, 232, 1) 100%
  );
}

/* CONTACT SECTION */

#contact {
  padding: 70px 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 120px;
}

.contact-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 50px;
}

.contact-container iframe {
  width: 500px;
  height: 325px;
}

.contact-container img {
  height: 250px;
}

.contact-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 50px;
}

.contact-info h3 {
  color: #fff;
  font-size: 16px;
}

.social-links {
  display: flex;
  gap: 20px;
}
.social-links svg {
  width: 20px;
  height: 20px;
  color: #302c42;
  padding: 5px;
  background-color: #c0b7e8;
  border-radius: 100%;
}

footer {
  text-transform: uppercase;
  color: #c0b7e8;
  width: 100%;
  text-align: center;
  padding: 40px 20px;
  font-size: 14px;
}

/* LOGIN */
